<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dell.Adept.Core" version="4.5.1910.8" targetFramework="net472" />
  <package id="Dell.Adept.Testing.DataGenerators" version="4.5.1910.8" targetFramework="net472" />
  <package id="Dell.Adept.Testing.Verifications" version="3.7.5.5" targetFramework="net472" />
  <package id="Dell.Adept.UI.Web" version="4.5.1910.8" targetFramework="net472" />
  <package id="Dell.Adept.WebDriver" version="4.5.1910.8" targetFramework="net472" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net472" />
  <package id="FluentAssertions" version="5.10.3" targetFramework="net472" />
  <package id="log4net" version="2.0.12" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
</packages>